.groupsTable {
  width: 100%;
  margin-top: 20px;
  background: var(--background-gray-300);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.groupsTableHeading {
  padding-left: 15px;
  color: var(--typography-text-100-inverse);
}
