.groupsTable {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: var(--background-gray-300);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.groupsTableHeading {
  color: var(--typography-text-100-inverse);
}

.groupTableHeadingPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
}

.buttonWrapper {
  max-width: 142px;
  margin-left: auto;
}
