.label {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 100%;
  color: var(--typography-text-100-inverse);
}

.input {
  padding: 6px 15px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  background: var(--background-gray-300);
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
}

.input.error {
  border: 1px solid var(--support-error-red-100);
}

.input:focus {
  border: 1px solid var(--brand-blue-100);
}

.input:not([value='']):focus {
  border: 1px solid var(--brand-blue-100);
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.errorMessage {
  height: 16px;
  overflow: hidden;
  color: var(--support-error-red-100);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.input[type='password'] {
  color: var(--text-gray-200);
  letter-spacing: 4px;
}

.visuallyHidden {
  visibility: hidden;
}
