.button {
  display: flex;
  justify-content: center;
  padding: 16px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: 28px;
  cursor: pointer;
}

.button-blue {
  background: var(--brand-blue-100);
}

.button-gray {
  background: var(--background-gray-200);
}

.button:disabled {
  opacity: 0.7;
}

.button:hover:not(.button-icon:hover) {
  background: var(--hover-blue-100);
}

.button-outlined,
.button-upload {
  color: var(--brand-blue-100);
  background: var(--background-gray-300);
  border: 2px solid var(--brand-blue-100);
}

.button-outlined:hover,
.button-upload:hover {
  color: var(--typography-text-100-inverse);
  background: var(--background-gray-400);
}

.icon-gray {
  color: var(--typography-text-gray-200);
}

.icon-gray:hover {
  color: white;
}

.icon-blue {
  color: var(--brand-blue-100);
}

.icon-blue:hover {
  color: var(--hover-blue-100);
}
