.button {
  display: flex;
  padding: 16px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  border: none;
  border-radius: 28px;
  outline: none;
}

.button-blue {
  background: var(--brand-blue-100);
}

.button-gray {
  background: var(--background-gray-200);
}

.button:hover {
  background: var(--hover-blue-100);
  cursor: pointer;
}

.button:disabled {
  opacity: 0.7;
}
