.wrapper {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 45px 25px;
  width: 100%;
  padding: 18px 40px 0 30px;
  color: var(--typography-text-100-inverse);
}

.mainColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}
