.table {
  width: 100%;
  padding: 15px;
  background: var(--background-gray-300);
  border-radius: 10px;
  border-spacing: 0;
}

.tableHeadRowHeader {
  color: var(--typography-text-100-inverse);
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  text-align: left;
  border-right: 1px solid #393b4d;
  border-bottom: 1px solid #393b4d;
}

.tableBodyRowData {
  overflow-x: hidden;
  color: var(--typography-text-gray-200);
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
}

.tableHeadRowHeader,
.tableBodyRowData {
  position: relative;
  margin: auto;
  padding: 20px;
}

.tableHeadRowHeader:last-child {
  border-right: none;
}

.placeholder {
  color: var(--typography-text-gray-200);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  z-index: var(--z-index-level-one);
  display: inline-block;
  width: 20px;
  height: 100%;
  transform: translateX(50%);
}

.tableWrapper {
  display: flex;
  overflow-x: scroll;
}
