.container {
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
}

.modulesContentHeader {
  margin: 40px 0 0 5px;
}

.modulesContainer {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.info {
  width: 65%;
  margin-bottom: 20px;
}

.additional {
  width: 25%;
}

.image {
  width: 80%;
  overflow: hidden;
  border-radius: 12px;
}

.about {
  margin: 30px 0;
}

.placeholder {
  width: 100%;
  color: var(--typography-text-gray-200);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.categoryContainer {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 10px;
}
