.container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-gap: 40px;
  padding: 40px 30px;
  color: #ffffff;
}

.modulesContentHeader {
  margin: 40px 0 0 5px;
}

.modulesContainer {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.info {
  margin-bottom: 20px;
}

.myStudents {
  margin-bottom: 20px;
}

.additional {
  width: 25%;
}

.image {
  width: 100%;
  overflow: hidden;
  border-radius: 14px;
}

.about {
  margin: 30px 0;
}

.placeholder {
  width: 100%;
  color: var(--typography-text-gray-200);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.headingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 82.5%;
}

.categoryContainer {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 10px;
}

.editButton {
  margin-top: 15px;
}
