.content {
  display: flex;
  flex-grow: 1;
  background: var(--background-gray-400);
}

.mainContent {
  display: flex;
  flex-grow: 1;
  margin-left: 270px;
  overflow-y: auto;
  background-color: var(--background-gray-400);
}
