.subtitle {
  color: var(--typography-text-100-inverse);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
  column-gap: 30px;
  color-scheme: dark;
}

.formWrapper {
  margin: 20px 0;
  color: var(--typography-text-100-inverse);
}

.formContent {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  column-gap: 20px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.personalInfo {
  margin-top: 50px;
}

.text {
  margin-top: 8px;
  margin-bottom: 20px;
  color: var(--typography-text-gray-200);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.btn {
  margin-right: 10px;
}

.formInput {
  background: var(--background-gray-200);
}

.formSelect div[class$='-control'] {
  background: var(--background-gray-200);
}

.formSelect label {
  font-weight: 500;
}
