.mentorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225px;
  height: 150px;
  background-color: var(--background-gray-400);
  border-radius: 20px;
}

.imageWrapper {
  margin-bottom: 10px;
  transform: translateY(10px);
}

.button {
  margin-right: 20px;
  margin-bottom: 20px;
}
