.mentorWrapper {
  display: flex;
  flex-shrink: 0.5;
  flex-direction: column;
  align-items: center;
}

.imageWrapper {
  margin-bottom: 10px;
  transform: translateY(10px);
}

.button {
  margin-bottom: 20px;
}
