.menu {
  position: sticky;
  top: 96px;
  display: flex;
  flex-direction: column;
  width: 290px;
  min-width: 290px;
  height: calc(100vh - 96px);
  padding: 40px;
  overflow-y: scroll;
  background-color: var(--background-gray-300);
}

.bottomLine:not(:last-child) {
  border-bottom: 2px solid var(--background-gray-400);
}
