.icon {
  display: inline-block;
  overflow: visible;
  font-size: inherit;
  fill: currentcolor;
}

.delete {
  fill: var(--typography-text-gray-200);
}

.delete:hover {
  fill: var(--typography-text-100-inverse);
}
