.switchContainer {
  display: flex;
  align-items: center;
  width: max-content;
  height: max-content;
  color: var(--typography-text-gray-200);
  background-color: var(--background-gray-300);
  border-radius: 5px;
}

.toggleItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  padding: 8px 12px;
  cursor: pointer;
}

.toggleLeft {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.toggleRight {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.text {
  font-size: 14px;
}

.selected {
  color: var(--typography-text-100-inverse);
  background-color: var(--brand-blue-100);
}
