.currentChatWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.currentChatHeader {
  display: flex;
  align-items: center;
  height: 94px;
  padding-left: 51.35px;
  color: var(--typography-text-100-inverse);
  background: var(--background-gray-300);
}

.currentChatContent {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column-reverse;
  height: 0;
  overflow-y: auto;
  background: var(--background-gray-400);
}

.currentChatFooter {
  background: var(--background-gray-300);
}

.emptyChatMessage {
  align-self: center;
  width: 100%;
  color: var(--typography-text-100-inverse);
  text-align: center;
}
