.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px;
  background: var(--background-gray-400);
}

.headerWrapper {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headingText {
  color: var(--typography-text-100-inverse);
}

.buttonWrapper {
  max-width: 180px;
  margin-left: auto;
}
