.paginationContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
}

.paginationContainer::after {
  flex: 1;
  content: '';
}

.results {
  flex: 1;
  color: var(--typography-text-gray-200);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--typography-text-100-inverse);
  background-color: inherit;
}

.back,
.next {
  background: none;
  border: none;
  cursor: pointer;
}

.back::before,
.next::before {
  content: '';
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 1.5px solid var(--typography-text-100-inverse);
}

.back::before {
  border-left: 1.5px solid var(--typography-text-100-inverse);
}

.next::before {
  border-right: 1.5px solid var(--typography-text-100-inverse);
}

.back:active::before,
.next:active::before {
  border-color: var(--typography-text-gray-200);
}

.back:disabled::before,
.next:disabled::before {
  border-color: var(--typography-text-gray-200);
  cursor: auto;
}

.next {
  transform: rotate(45deg);
}

.back {
  transform: rotate(-45deg);
}
