.categoriesList {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  padding: 5px 0;
  overflow-x: scroll;
  overflow-y: hidden;
  list-style: none;
}

.category {
  flex-shrink: 0;
}

.selected {
  order: -1;
}
