.category,
.categorySpan {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px;
  color: var(--typography-text-100-inverse);
  background: var(--background-gray-400);
  border: 2px solid;
  border-radius: 20px;
}

.category:hover {
  color: black;
  background-color: #ffffff;
  cursor: pointer;
}

.categoryName {
  margin-left: 5px;
}

.selected {
  color: black;
  background-color: #ffffff;
}

.blue {
  border-color: var(--brand-blue-100);
}

.pink {
  border-color: var(--brand-pink-100);
}

.green {
  border-color: var(--border-brand-green-100);
}

.yellow {
  border-color: var(--brand-yellow-200);
}

.lightYellow {
  border-color: var(--brand-yellow-100);
}
