.category {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px;
  color: var(--typography-text-100-inverse);
  background: var(--background-gray-400);
  border: 2px solid;
  border-radius: 20px;
}

.categoryName {
  margin-left: 5px;
}

.selected {
  color: black;
  background-color: #ffffff;
}
