.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: var(--background-gray-300);
  border: 1px solid var(--background-gray-300);
  border-radius: 28px;
}

.container:hover {
  border: 1px solid var(--brand-blue-100);
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.avatarWrapper {
  max-width: 110px;
  margin: 10px auto;
}

.infoContainer {
  width: 100%;
}

.fullName {
  padding: 0 10px;
  text-align: center;
}
