.header {
  position: sticky;
  top: 0;
  z-index: var(--z-index-level-four);
  min-height: 96px;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  min-height: 96px;
  background-color: var(--background-gray-300);
  box-shadow: inset 1px #2c2b3e;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  margin-left: 3px;
  border-right: 3px solid var(--background-gray-400);
}

.userWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 94px;
  height: 94px;
  margin-right: 76px;
}

.popup {
  margin-left: auto;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
