.headerWrapper {
  display: flex;
  justify-content: space-between;
  min-height: 96px;
  background-color: var(--background-gray-300);
  box-shadow: inset 1px #2c2b3e;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  border-right: 1px solid;
}

.userWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 94px;
  height: 94px;
  margin-right: 76px;
}

.popup {
  margin-left: auto;
}

.button {
  background-color: transparent;
  border: none;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
