.header-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  min-height: 96px;
  background-color: #242636;
  box-shadow: inset 1px #2c2b3e;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  border-right: 1px solid;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 94px;
  height: 94px;
}
