.wrapper {
  display: flex;
  flex-direction: column;
  gap: 9px;
  color: var(--typography-text-100-inverse);
}

.errorMessage {
  height: 16px;
  overflow: hidden;
  color: var(--support-error-red-100);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.select [class$='-control'] {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: var(--typography-text-100-inverse);
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  background: var(--background-gray-300);
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.select [class$='-indicatorSeparator'] {
  display: none;
}

.select [class$='-menu'] {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  background: var(--background-gray-300);
  border: none;
  outline: none;
  cursor: inherit;
  appearance: none;
}

.select [class$='-singleValue'] {
  color: var(--typography-text-100-inverse);
}

.select [class$='-option'] {
  cursor: pointer;
}
