.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  margin-top: 10px;
  padding: 10px;
  background: var(--background-gray-200);
  border-radius: 20px;
}

.cardContentWrapper {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}

.cardAuthorSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3px;
}

.authorNameSection {
  margin-left: 5px;
}

.noteContent {
  white-space: pre-wrap;
  word-break: break-all;
}

.additionalInfoWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.statusWrapper {
  width: 115px;
}

.status {
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
  color: var(--typography-text-100-inverse);
  text-align: center;
  border-radius: 15px;
}

.uncompleted {
  background-color: var(--brand-yellow-300);
}

.rejected {
  background-color: var(--brand-purple-100);
}

.completed {
  background-color: var(--brand-green-100);
}

.pending {
  background-color: var(--brand-blue-200);
}
