.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  margin-top: 10px;
  padding: 10px;
  background: var(--background-gray-200);
  border-radius: 20px;
}

.cardContentWrapper {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}

.cardAuthorSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3px;
}

.authorNameSection {
  margin-left: 5px;
}

.noteContent {
  white-space: pre-wrap;
  word-break: break-all;
}
