#
# CONFIG: DEVELOPMENT
#
LOCAL_API_PREFIX_URL=http://localhost:3001/api/v1

LOCAL_STUDENT_EMAIL=
LOCAL_STUDENT_PASSWORD=

LOCAL_MENTOR_EMAIL=
LOCAL_MENTOR_PASSWORD=

LOCAL_INTERVIEW_MANAGER_EMAIL=
LOCAL_INTERVIEW_MANAGER_PASSWORD=

LOCAL_UAM_MANAGER_EMAIL=
LOCAL_UAM_MANAGER_PASSWORD=

LOCAL_CATEGORIES_MANAGER_EMAIL=
LOCAL_CATEGORIES_MANAGER_PASSWORD=

LOCAL_MENTORING_MANAGER_EMAIL=
LOCAL_MENTORING_MANAGER_PASSWORD=

#
# CONFIG: STAGING
#
STAGING_STUDENT_EMAIL=
STAGING_STUDENT_PASSWORD=

STAGING_MENTOR_EMAIL=
STAGING_MENTOR_PASSWORD=

STAGING_INTERVIEW_MANAGER_EMAIL=
STAGING_INTERVIEW_MANAGER_PASSWORD=

STAGING_UAM_MANAGER_EMAIL=
STAGING_UAM_MANAGER_PASSWORD=

STAGING_CATEGORIES_MANAGER_EMAIL=
STAGING_CATEGORIES_MANAGER_PASSWORD=

STAGING_MENTORING_MANAGER_EMAIL=
STAGING_MENTORING_MANAGER_PASSWORD=

#
# CONFIG: PRODUCTION
#
PRODUCTION_STUDENT_EMAIL=
PRODUCTION_STUDENT_PASSWORD=

PRODUCTION_MENTOR_EMAIL=
PRODUCTION_MENTOR_PASSWORD=

PRODUCTION_INTERVIEW_MANAGER_EMAIL=
PRODUCTION_INTERVIEW_MANAGER_PASSWORD=

PRODUCTION_UAM_MANAGER_EMAIL=
PRODUCTION_UAM_MANAGER_PASSWORD=

PRODUCTION_CATEGORIES_MANAGER_EMAIL=
PRODUCTION_CATEGORIES_MANAGER_PASSWORD=

PRODUCTION_MENTORING_MANAGER_EMAIL=
PRODUCTION_MENTORING_MANAGER_PASSWORD=
