#
# API
#
LOCAL_API_PREFIX_URL=http://localhost:3001/api/v1

#
# USERS
#
STUDENT_EMAIL=test.student@guruhub.club
STUDENT_PASSWORD=Pa55word

JS_MENTOR_EMAIL=test.jsmentor@guruhub.club
JS_MENTOR_PASSWORD=Pa55word

PYTHON_MENTOR_EMAIL=test.pythonmentor@guruhub.club
PYTHON_MENTOR_PASSWORD=Pa55word

CSHARP_MENTOR_EMAIL=test.csharpmentor@guruhub.club
CSHARP_MENTOR_PASSWORD=Pa55word

INTERVIEWS_MANAGER_EMAIL=test.interviewsmanager@guruhub.club
INTERVIEWS_MANAGER_PASSWORD=Pa55word

INTERVIEWER_EMAIL=test.interviewer@guruhub.club
INTERVIEWER_PASSWORD=Pa55word

CATEGORIES_MANAGER_EMAIL=test.categoriesmanager@guruhub.club
CATEGORIES_MANAGER_PASSWORD=Pa55word

MENTORING_MANAGER_EMAIL=test.mentoringmanager@guruhub.club
MENTORING_MANAGER_PASSWORD=Pa55word

UAM_MANAGER_EMAIL=admin@guruhub.club
UAM_MANAGER_PASSWORD=Pa55word

#
# UDEMY
#
UDEMY_CLIENT_ID=[udemy_client_id]
UDEMY_CLIENT_SECRET=[udemy_client_secret]
UDEMY_BASE_URL=https://www.udemy.com/api-2.0

#
# EDX
#
EDX_CLIENT_ID=[edx_client_id]
EDX_CLIENT_SECRET=[edx_client_secret]
EDX_BASE_URL=https://www.courses.edx.org/api/courses/v1
