.btn {
  display: flex;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  fill: var(--typography-text-gray-200);
}

.btn:hover > .icon {
  fill: var(--typography-text-100-inverse);
}
