.wrapper {
  min-width: 100%;
  height: fit-content;
  padding: 14px 30px;
  background: var(--background-gray-300);
  border-radius: 10px;
}

.headerInterview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.select {
  display: inline-block;
  margin-top: 10px;
}

.parameters {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.interviewForm {
  width: 100%;
  margin-top: 14px;
  padding: 25px 0;
  border-top: 1px solid #393b4d;
}

.interviewRow {
  display: grid;
  grid-template-columns: 2fr 5fr;
  align-items: center;
  grid-gap: 45px 25px;
}

.header {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.interviewValue {
  color: var(--typography-text-gray-200);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.telegramLink {
  text-decoration: none;
}

.telegramLink:hover {
  color: var(--typography-text-100-inverse);
}

.courseCategory {
  width: fit-content;
  padding: 6px 10px;
  font-size: 12px;
  background: var(--brand-green-100);
  border-radius: 16px;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
}

.marginRight {
  margin-right: 10px;
}

.pending {
  background-color: var(--brand-blue-200);
}

.completed {
  background-color: var(--brand-green-100);
}

.rejected {
  background-color: var(--brand-purple-100);
}

.inProgress {
  background-color: var(--brand-pink-200);
}

.canceled {
  background-color: var(--brand-red-100);
}

.new {
  background-color: var(--brand-yellow-300);
}

.status {
  display: inline-block;
  margin: 10px 0;
  margin-right: auto;
  padding: 2px 10px;
  color: var(--typography-text-100-inverse);
  text-align: center;
  border-radius: 15px;
}

.buttonWrapper {
  max-width: 93px;
}
