.status {
  display: inline-block;
  width: 100%;
  color: var(--typography-text-100-inverse);
  text-align: center;
  border-radius: 15px;
}

.new {
  background-color: #ecbc02;
}

.rejected {
  background-color: #7e19f7;
}

.canceled {
  background-color: #f64848;
}

.completed {
  background-color: #7bdf00;
}

.pending {
  background-color: #03d7fc;
}

.inProgress {
  background-color: #d605e8;
}
