.status {
  display: inline-block;
  width: 100%;
  color: var(--typography-text-100-inverse);
  text-align: center;
  border-radius: 15px;
}

.New {
  background-color: #16b320;
}

.Rejected {
  background-color: #7e19f7;
}

.Canceled {
  background-color: #f64848;
}
