.passwordField {
  position: relative;
}

.passwordIconContainer {
  position: absolute;
  top: 31px;
  right: 9px;
}

.passwordIconContainer:hover {
  cursor: pointer;
}

.passwordIcon {
  min-width: 30px;
  padding: 5px;
}
