.usersTable {
  width: 100%;
  background: var(--background-gray-300);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.usersTableHeading {
  padding-left: 15px;
  color: var(--typography-text-100-inverse);
}

.usersTable > table th {
  border-right: 1px solid var(--black-shadow-color);
}

.usersTable > table th:last-child {
  border-right: none;
}

.results {
  padding-left: 15px;
  color: var(--typography-text-100-inverse);
  font-size: 11px;
}
