.studentsWrapper {
  width: 100%;
}

.studentsTitle {
  margin-bottom: 12px;
  color: var(--typography-text-100-inverse);
  font-size: 24px;
  line-height: 48px;
}

.student {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 25px;
  color: var(--typography-text-100-inverse);
  background: var(--background-gray-300);
  border-radius: 10px;
}

.placeholder {
  width: 100%;
  color: var(--typography-text-gray-200);
  font-weight: 600;
  font-size: 18px;
}

.imageWrapper {
  position: relative;
  min-width: 75px;
  border-radius: 50%;
}

.text {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}

.studentData {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.contacts {
  margin: 0;
  color: var(--text-gray-200);
  font-size: 15px;
}

.telegramLink {
  color: var(--text-gray-200);
  text-decoration: none;
}

.telegramLink:hover {
  color: var(--typography-text-100-inverse);
}
