.bars {
  display: flex;
  align-items: baseline;
  margin-left: 5px;
}

.bar {
  width: 5px;
  margin: 0 1px;
}

.barSmall {
  height: 6px;
}

.barMedium {
  height: 9px;
}

.barBig {
  height: 12px;
}

.barActive {
  background-color: #15be4f;
}

.barInactive {
  background-color: #c4c4c4;
}
