.history {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.historyHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionButtonsSection {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 93px;
  height: 52px;
}
