@import 'https://rsms.me/inter/inter.css';

.formWrapper {
  position: absolute;
  top: 50%;
  right: 57px;
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 40px;
  color: white;
  font-family: inter, sans-serif;
  background-color: #1e1e2c;
  transform: translateY(-50%);
}

.formHeader {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formHeader h2 {
  font-weight: 600;
  font-size: 30px;
}

.formHeader a {
  color: #41c6ff;
  text-decoration: none;
}

.formHeader h2,
p {
  margin: 0;
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px 0;
}

.formInputWrapper label {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.formInputWrapper label input {
  padding: 6px 15px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  background: #242636;
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
}

.formInputWrapper label input.error {
  border: 1px solid var(--support-error);
}

.formInputWrapper label input:focus {
  border: 1px solid var(--primary);
}

.formInputWrapper label input:not([value='']):focus {
  border: 1px solid var(--primary);
}

.formInputWrapper label span:first-child {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.formInputWrapper label span:last-child {
  color: #f76519;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.formInputWrapper label input[type='password'] {
  color: #6b6d7f;
  letter-spacing: 4px;
}

.formButton {
  display: flex;
  padding: 16px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.5px;
  background: var(--primary);
  border: none;
  border-radius: 28px;
  outline: none;
}

.formButton:hover {
  background: #1747ae;
  cursor: pointer;
}

.formButton:disabled {
  opacity: 0.7;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #242636;
}

.circle {
  position: absolute;
  background-color: var(--primary);
  border-radius: 50%;
}

.circleFirst {
  top: 40%;
  left: -53px;
  width: 152px;
  height: 152px;
  transform: translateY(-40%);
}

.circleSecond {
  top: 60%;
  left: 33.3%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 542px;
  height: 542px;
  transform: translate(-33.3%, -60%);
}

.circleThird {
  top: 20%;
  left: 66.7%;
  width: 214px;
  height: 214px;
  transform: translate(-66.7%, -20%);
}

.circleFourth {
  top: -20%;
  left: 100%;
  width: 554px;
  height: 554px;
  transform: translate(-75%, 20%);
}

.logo {
  width: 390px;
  margin-bottom: 45px;
}
