@import 'https://rsms.me/inter/inter.css';

.form-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 40px;
  color: white;
  font-family: inter, sans-serif;
  background-color: #1e1e2c;
  border: 1px solid black;
}

.form-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-header h2 {
  font-weight: 600;
  font-size: 30px;
}

.form-header a {
  color: #41c6ff;
  text-decoration: none;
}

.form-header h2,
p {
  margin: 0;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px 0;
}

.form-input-wrapper label {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.form-input-wrapper label input {
  padding: 6px 15px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  background: #242636;
  border: none;
  border-radius: 6px;
  outline: none;
}

.form-input-wrapper label input:not([value='']) {
  border: 1px solid #2563eb;
}

.form-input-wrapper label input:focus {
  border: 1px solid #2563eb;
}

.form-input-wrapper label span:first-child {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.form-input-wrapper label span:last-child {
  color: #f76519;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.form-input-wrapper label input[type='password'] {
  color: #6b6d7f;
  letter-spacing: 4px;
}

.form-button {
  display: flex;
  padding: 16px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.5px;
  background: #2563eb;
  border: none;
  border-radius: 28px;
  outline: none;
}

.form-button:hover {
  background: #1747ae;
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
