.replenishCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background: var(--background-gray-300);
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.replenishCardWrapper:hover {
  border: 1px solid var(--hover-blue-100);
}

.amount {
  color: var(--typography-text-100-inverse);
  text-align: center;
}

.price {
  width: 100%;
  padding: 50px 20px;
}
