.container {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 255px;
  padding: 12px;
  background-color: var(--background-gray-100);
  border-radius: 16px;
}

.image {
  height: 155px;
  overflow: hidden;
  border-radius: 12px;
}

.title {
  color: white;
}

.instructor {
  display: flex;
  align-items: center;
  gap: 8px;
}

.instructorName {
  color: #e3e3e3;
}

.footer {
  margin-top: 14px;
  border-top: 1px solid var(--typography-text-gray-200);
}

.price {
  float: right;
  margin: 10px 0;
  color: var(--typography-text-100-inverse);
}

.vendor {
  position: absolute;
  top: 30px;
  padding: 8px 11px;
  background-color: var(--typography-text-100-inverse);
  border-radius: 0 12px 12px 0;
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--typography-text-gray-200);
  font-weight: 600;
}

.ratingNumber {
  margin-right: 10px;
}

.numOfVotes {
  margin-left: 10px;
}

.rating {
  width: 10px;
  text-shadow:
    -1px 0 var(--typography-text-gray-200),
    0 1px var(--typography-text-gray-200),
    1px 0 var(--typography-text-gray-200),
    0 -1px var(--typography-text-gray-200);
}

.ratingEmpty {
  color: var(--background-gray-100);
}

.level {
  position: absolute;
  top: 130px;
  left: 21px;
  display: flex;
  align-items: baseline;
  padding: 4px 13px;
  background-color: var(--typography-text-100-inverse);
  border-radius: 12.5px;
}

.levelTitle {
  margin: 0;
}
