.wrapper {
  position: relative;
  width: 100%;
  padding: 20px;
  background-color: var(--background-gray-400);
}

.title {
  color: var(--typography-text-100-inverse);
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
}

.modalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

.displayNone {
  display: none;
}

.subtitle {
  color: var(--typography-text-100-inverse);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  color-scheme: dark;
}

.formWrapper {
  margin-top: 60px;
  color: var(--typography-text-100-inverse);
}

.formContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  padding: 24px 0;
  column-gap: 20px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.rowSpaceBetween {
  justify-content: space-between;
}

.personalInfo {
  margin-top: 50px;
}

.text {
  margin-top: 8px;
  margin-bottom: 20px;
  color: var(--typography-text-gray-200);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.cancelBtn {
  margin-right: 15px;
  background-color: var(--background-gray-200);
}

.profileContainer {
  width: 100%;
  padding: 20px 40px;
  background: var(--background-gray-300);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}
