@import 'assets/css/variables.scss';

.table {
  width: 1074px;
  height: 452px;
  padding: 15px;
  background: $table-background-color;
  border-radius: 10px;
  border-spacing: 0;
}

.table-head-row {
  width: 902px;
  height: 21px;
}

.table-head-row-header {
  width: 52px;
  height: 21px;
  color: $table-head-text-color;
  font-weight: 500;
  font-size: 18px;
  font-family: $table-head-font;
  font-style: normal;
  line-height: 21px;
  text-align: left;
  border-bottom: 1px solid $line-under-head-color;
}

.table-body-row {
  width: 986px;
  height: 25px;
}

.table-body-row-data {
  color: $table-rows-text-color;
  font-weight: 600;
  font-size: 14px;
  font-family: $table-body-font;
  font-style: normal;
  line-height: 24px;
}

.table-head-row-header,
.table-body-row-data {
  padding: 20px;
}
