.chat {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  color: var(--background-gray-200);
  background: var(--background-gray-300);
  border: none;
  cursor: pointer;
}

.selected {
  border-radius: 7px;
  outline: 1px solid var(--brand-blue-100);
}

.chatContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 10px;
  padding: 5px;
}

.avatar {
  margin-right: 10px;
}

.chatOpponentAndDateLastMessageWasSentWrapper {
  display: flex;
  justify-content: space-between;
}

.lastMessageWrapper {
  display: flex;
  justify-content: flex-start;
}

.chatOpponentFullName {
  margin-bottom: 0;
  color: var(--typography-text-100-inverse);
}

.marginTopZero {
  margin-top: 0;
}

.dateTheLastMessageWasSent {
  margin-bottom: 0;
  color: var(--typography-text-gray-200);
}

.lastMessage {
  max-width: 320px;
  margin-top: 0;
  overflow: hidden;
  color: var(--typography-text-gray-200);
  white-space: nowrap;
  text-overflow: ellipsis;
}
