.card {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  background: var(--background-gray-300);
  border-radius: 10px;
  cursor: pointer;
}

.headerContainer {
  display: flex;
  margin-left: 10px;
}

.title {
  color: var(--typography-text-100-inverse);
  font-weight: bold;
  word-wrap: break-word;
}

.description {
  margin-top: 0;
  color: var(--typography-text-gray-200);
  word-wrap: break-word;
}

.status {
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
  color: var(--typography-text-100-inverse);
  text-align: center;
  text-transform: capitalize;
  border-radius: 15px;
}

.uncompleted {
  background-color: var(--brand-yellow-300);
}

.rejected {
  background-color: var(--brand-purple-100);
}

.completed {
  background-color: var(--brand-green-100);
}

.pending {
  background-color: var(--brand-blue-200);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.statusContainer {
  width: 115px;
}
