.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.placeholder {
  color: var(--typography-text-gray-200);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.placeholderContainer {
  width: 100%;
  padding: 10px;
  background: var(--background-gray-300);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0 0 0 / 20%);
}
