.status {
  display: inline-block;
  width: 100px;
  height: fit-content;
  color: var(--typography-text-100-inverse);
  text-align: center;
  text-transform: capitalize;
  border-radius: 16px;
}

.pending {
  background-color: var(--brand-blue-200);
}

.completed {
  background-color: var(--brand-green-100);
}

.rejected {
  background-color: var(--brand-purple-100);
}

.inProgress {
  background-color: var(--brand-pink-200);
}

.canceled {
  background-color: var(--brand-red-100);
}

.new {
  background-color: var(--brand-yellow-300);
}
