.card {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 10px;
  background: var(--background-gray-300);
  border-radius: 10px;
  cursor: pointer;
}

.headerContainer {
  display: flex;
  width: 60%;
  margin-left: 10px;
}

.orderNumber {
  margin-bottom: 0;
}

.header {
  margin-bottom: 0;
  margin-left: 10px;
  color: var(--typography-text-100-inverse);
  word-wrap: break-word;
}

.description {
  margin-top: 5px;
  margin-left: 35px;
  color: var(--typography-text-gray-200);
  word-wrap: break-word;
}
