.category {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px;
  color: var(--typography-text-100-inverse);
}

.categoryName {
  margin-left: 5px;
}

.placeholder {
  margin: 0;
  padding: 0 10px;
  color: var(--typography-text-100-inverse);
  line-height: 40px;
}
