.messageCardWrapper {
  display: flex;
  flex-direction: column;
  background: var(--background-gray-400);
}

.messageWrapper {
  max-width: 300px;
  margin: 0 10px 0 0;
  padding: 8px;
  color: var(--typography-text-100-inverse);
  word-break: break-all;
  background: var(--background-gray-200);
}

.messageTimePost {
  margin: 0;
  color: var(--background-gray-200);
}

.userAvatarWrapper {
  align-items: flex-start;
}

.userAuthor .innerWrapper {
  display: flex;
  flex-direction: row-reverse;
}

.userAuthor .messageWrapper {
  background: var(--background-gray-300);
  border-radius: 15px 0 15px 15px;
}

.userAuthor .postDateWrapper {
  margin-right: 35px;
}

.userAuthor .messageTimePost {
  color: var(--background-gray-200);
  text-align: end;
}

.opponentAuthor .innerWrapper {
  display: flex;
}

.opponentAuthor .messageWrapper {
  margin-left: 10px;
  border-radius: 0 15px 15px;
}

.opponentAuthor .postDateWrapper {
  margin-left: 35px;
}
