.groupSubHeading {
  color: var(--typography-text-100-inverse);
}

.groupWorkers {
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.groupWorkersAmount {
  color: var(--typography-text-100-inverse);
}

.errorMessage {
  color: red;
}
