.groupSubHeading {
  color: var(--typography-text-100-inverse);
}

.groupWorkers {
  display: grid;
  width: fit-content;
  max-width: 100%;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.errorMessage {
  color: red;
}
