.groupCreationMain {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 40px;
  background-color: var(--background-gray-400);
}

.groupForm {
  max-width: 1440px;
  padding: 30px 50px;
  background-color: var(--background-gray-300);
  border-radius: 8px;
}

.groupFormHeading {
  color: var(--typography-text-100-inverse);
  font-size: 30px;
}

.btnsBlock {
  display: flex;
  justify-content: end;
}

.btnsWrapper {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
