* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--background-gray-200) var(--background-gray-300);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  font-family: Inter, sans-serif;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background-gray-300);
}

::-webkit-scrollbar-thumb {
  background: var(--background-gray-200);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--typography-text-gray-200);
}
