:root {
  --support-error-red-100: #f76519;
  --support-info-blue-100: #41c6ff;
  --background-gray-400: #1e1e2c;
  --brand-blue-100: #2563eb;
  --text-gray-200: #6b6d7f;
  --hover-blue-100: #1747ae;
}
