:root {
  --background-gray-300: #242636;
  --typography-text-100-inverse: #ffffff;
  --typography-text-gray-200: #6b6d7f;
  --support-error-red-100: #f76519;
  --support-info-blue-100: #41c6ff;
  --background-gray-400: #1e1e2c;
  --background-gray-200: #343646;
  --background-gray-100: #2a2c3e;
  --brand-blue-100: #2563eb;
  --text-gray-200: #6b6d7f;
  --hover-blue-100: #1747ae;
}
