:root {
  --background-gray-300: #242636;
  --typography-text-100-inverse: #ffffff;
  --typography-text-gray-200: #6b6d7f;
  --support-error-red-100: #f76519;
  --support-info-blue-100: #41c6ff;
  --background-gray-400: #1e1e2c;
  --background-gray-200: #343646;
  --background-gray-100: #2a2c3e;
  --brand-blue-100: #2563eb;
  --brand-green-100: #7bdf00;
  --text-gray-200: #6b6d7f;
  --hover-blue-100: #1747ae;
  --brand-pink-100: #c565c7;
  --brand-pink-200: #d605e8;
  --brand-purple-100: #7e19f7;
  --brand-yellow-200: #f6c648;
  --border-top-gray: #393b4d;
  --brand-yellow-300: #ecbc02;
  --brand-red-100: #f64848;
  --brand-blue-200: #03d7fc;
  --z-index-level-one: 100;
  --z-index-level-two: 200;
  --z-index-level-three: 300;
  --z-index-level-four: 400;
  --z-index-level-five: 500;
}
